*{
    margin: 0;
    padding: 0;
}

.container_relatorio {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.relatorio {
    display: flex;
    flex-direction: row;
}

.relatorio img {
    width: 25px;
    height: 25px;
}

.relatorio h2 {
    margin-right: 100px;
}

.relatorio button{
    width: 150px;
    height: 30px;
    background-color: #D34AF4;
    border: 0;
    border-radius: 10px;
}

.relatorio a {
    color: black;
    text-decoration: none;
    /* margin-right: 40px; */
}