* {
    margin: 0;
}

.ajuste_menu_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.menu_bar_color {
    background-color: rgb(44, 62, 80);
    width: 177px;
}

.container_menu_bar {
    margin: 25px;
    height: 100vh;
    color: white;  
}

.container_menu_bar h1{
    text-align: center;
    padding-bottom: 40px;
}

.container_menu_bar h4{
    padding-bottom: 15px;
}

.menu_bar h4{
    padding-bottom: 15px;
}

.container_corpo {
    margin: 30px;
}

.container_corpo h1{
    padding-bottom: 20px;
}

.container_corpo img{
    border-radius: 10px;
    width: 700px;
    height: 400px;
}

.conteudo_home p{
    padding-bottom: 40px;
}

.card-01{
    width: 00px;
}

.card-01 img{
    width: 150px;
    height: 150px;
}

.card-02 img{
    width: 150px;
    height: 150px;
}

.card-03 img{
    width: 150px;
    height: 150px;
}

.destino_incriveis_01 img{
    width: 150px;
    height: 150px;
}

.destino_incriveis_02 img{
    width: 150px;
    height: 150px;
}