* {
    margin: 0;
    padding: 0;
}
.cabeca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.container_cabeca {
    width: 75%;
}

header {
    background-color: #333;
    color: white;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #444;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.active + .nav-links {
        display: flex;
    }
}

/* Responsividade para telas ainda menores que 480px */
@media (max-width: 480px) {
    .logo img {
        height: 40px;
    }

    .nav-links a {
        font-size: 14px;
    }
}