*{
    margin: 0;
    padding: 0;
}

.container_relatorio {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.grup_relatorio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grup_relatorio .relatorio {
    margin-right: 140px;
}

.grup_relatorio .relatorio_button {
    margin-left: 140px;
}


.relatorio {

}

.relatorio_button {
}

.relatorio_button button{
    border: none;
    border-radius: 10px;
    background-color: #D34AF4;
    padding-right: 10px;
    padding-left: 10px;
}

.relatorio_button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    /* background-color: #D34AF4; */
}